.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.1s ease-in-out,
		visibility 0.1s ease-in-out;
}

.overlayVisible {
	visibility: visible;
	opacity: 1;
	.drawer {
		transform: translateX(0);
	}
}

.drawer {
	position: absolute;
	width: 265px;
	height: 100%;
	right: 0;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

.burgerClose {
	position: absolute;
	top: 0;
	left: -60px;
	font-size: 40px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 250px 0 0 250px;
	padding: 10px 10px 5px;
}
.burgerList {
}
.burgerItem {
	width: 100%;
	padding: 20px 0 20px 30px;
	font-weight: 800;
	font-size: 22px;
	color: #01c3f8;
	transition:
		color,
		background-color 0.1s ease-in-out;
}

.burgerItem:hover {
	color: #fff;
	background-color: #4aa716;
}
