.intro {
	// background: url("/public/intro.webp") center no-repeat;
	background: url("../../assets/img/location.svg") center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	min-height: 840px;
}
.introInner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.introInnerLeftTitle {
	text-transform: uppercase;
	color: #00054a;
	font-size: 4vw;
	font-weight: 900;
}
.introInnerLeftTitle span {
	color: #003185;
	font-style: italic;
	font-size: 8vw;
}
.introInnerLeftSubtext {
	font-family: Montserrat, sans-serif;
	font-weight: 600;
	font-size: 19px;
	line-height: 35px;
	color: #00054a;
	margin-bottom: 20px;
}
.introInnerRight {
	text-transform: uppercase;
	color: #00054a;
}
.introInnerRightTitle {
	font-size: 56px;
	font-weight: 900;
}
.introInnerRightSubtitle {
	color: #44a40e;
	font-size: 76.8px;
	font-style: italic;
	font-weight: 900;
	line-height: normal;
}

@media screen and (max-width: 991px) {
	.intro {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.85) 0%, rgba(40, 16, 98, 0.85) 100%),
			url("/public/intro.webp");
		min-height: 680px;
	}
	.introInner {
		margin-top: -150px;
		gap: 25px;
	}
	.introInnerLeftTitle {
		font-size: 70px;
	}
	.introInnerLeftTitle span {
		font-size: 120px;
	}
	.introInnerLeftSubtext {
		font-size: 19px;
		line-height: 36px;
	}
	.introInnerRightTitle {
		font-size: 70px;
	}
}
@media screen and (max-width: 767px) {
	.introInner {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.introInnerRight {
		display: none;
	}
}
@media screen and (max-width: 415px) {
	.introInnerLeftTitle {
		font-size: 45px;
	}
	.introInnerLeftTitle span {
		font-size: 70px;
	}
	.introInnerLeftSubtext {
		margin-top: 20px;
		line-height: 25px;
	}
}
