.footer {
	padding: 120px 0 37px 0;
}

.footerInner {
	text-align: center;
}

.footerCopy {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footerContacts {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
